
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <!--Para utilizar o valor(vindo de environment.foto) da variável nome criada em menu.component.ts devemos utilizar o conceito de interpolação de variável,  usando {{nome da variável}}. Interpolamos a variável foto que contém o link da foto gravado em banco de dado-->
        <img src="{{foto}}" alt="" width="50vw" height="50vh" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-3">
        <!--Seguimos o mesmo principio de interpolação para o nome do usuário-->
       <p class="m-0 font-weight-bold text-white fs">Olá, {{nome}}</p>
      </li>
      <a href="">
        <li class="nav-item pl-3">
          <p class="m-0 text-white fs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
         </li>
      </a>
    </ul>

    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pl-3">
        <!--Criado um evento de click dentro da tag <a> para usarmos o método sair que desloga o usuário e o direciona para página de login-->
        <a (click)="sair()" class="m-0 font-weight-bold text-white fs">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>