<div class="container-fluid">

  <div class="row">

    <div class="col-md-6" id="img-bg"></div>

    <div class="col-md-6 mt-0 mb-2">

        <div class="row d-flex justify-content-center">
          <div class="col-md-10">

            <h1 class="text-center">Cadastrar</h1>

            <div class="form-group">
              <label for="nome">Nome</label>
               <!--Utilizamos o [(ngModel)]='usuarioLogin.nome' para ficar escutando tudo que é escrito dentro do input-->
              <input [(ngModel)]="usuario.nome" (keyup)="validaNome()" class="form-control"  type="text" name="nome" id="nome" placeholder="Seu nome">
            </div>

            <div class="form-group">
              <label for="usuario">usuário</label>
              <input [(ngModel)]="usuario.usuario" (keyup)="validaEmail()" class="form-control"  type="email" name="email" id="usuario" placeholder="Seu e-mail">
            </div>

            <div class="form-group">
              <label for="foto">Link da foto</label>
              <input [(ngModel)]="usuario.foto" class="form-control"  type="text" name="foto" id="foto" placeholder="Link da sua foto(opcional)">
            </div>

            <div class="form-group">
              <label for="senha">Senha</label>
            <!--Antes de por a senha dentro do objeto usuarioLogin, eu vou confirmar primeiro, para isso eu vou criar um método e um evento antes, como abaixo em senha-->
            <!--O evento é criado dentro de parenteses () e sem a palavra ON e o evento chama um método(método=função) e não mais uma função(JavaScript). Esse método espera um evento e esse evento é passado com sifrão($) e o nome do evento javascript-->
              <input (input)="confirmSenha($event)" class="form-control"  type="password" name="senha" id="senha" placeholder="mínimo 8 caracteres">
            </div>

            <div class="form-group">
              <label for="confirmSenha">Confirmar senha</label>
              <input [(ngModel)]="usuario.senha" class="form-control"  type="password" name="confirmSenha" id="confirmSenha"  placeholder="Confirme sua senha">
            </div>

            <div class="form-group">
              <label for="tipo">Tipo de usuário</label>
              <!--Usuaremos o evento (change já que o input é uma tag select que tem opções com valores (value=adm e value=normal))-->
              <select class="form-control" name="tipo" id="tipo" (change)="tipoUsuario($event)" >
                <option>Selecione um tipo de usuário</option>
                <option value="normal">Normal</option>
                <option value="adm">Administrador</option>
              </select>
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-danger mr-4" routerLink="/entrar"> Cancelar</button>
              <!--Método cadastrar será chamado no html no botão cadastrar através do evento de (click) e realizo o cadastro do usuário-->
              <button type="submit" class="btn btn-success" (click)="cadastrar()">Cadastrar</button>
            </div>

            </div>
          </div>
        </div>
      </div>
  </div>

