<div class="container mt-5 mb-5">

  <div class="row">
    <div class="col-md-12">
      <h1   class="text-center text-secondary">Atualização de usuário</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-10">

      <div class="form-group">
        <label for="nome">Nome</label>
         <!--Utilizamos o [(ngModel)]='usuarioLogin.nome' para ficar escutando tudo que é escrito dentro do input-->
        <input [(ngModel)]="usuario.nome" class="form-control"  type="text" name="nome" id="nome" placeholder="Seu nome">
      </div>

      <div class="form-group">
        <label for="email">usuário</label>
        <input [(ngModel)]="usuario.usuario" disabled class="form-control"  type="email" name="email" id="email" placeholder="Seu e-mail">
      </div>

      <div class="form-group">
        <label for="foto">Link da foto</label>
        <input [(ngModel)]="usuario.foto" class="form-control"  type="text" name="foto" id="foto" placeholder="Link da sua foto">
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
      <!--Antes de por a senha dentro do objeto usuarioLogin, eu vou confirmar primeiro, para isso eu vou criar um método e um evento antes, como abaixo em senha-->
      <!--O evento é criado dentro de parenteses () e sem a palavra ON e o evento chama um método(método=função) e não mais uma função(JavaScript). Esse método espera um evento e esse evento é passado com sifrão($) e o nome do evento javascript-->
        <input (input)="confirmSenha($event)" class="form-control"  type="password" name="senha" id="senha" placeholder="Sua senha">
      </div>

      <div class="form-group">
        <label for="confirmSenha">Confirmar senha</label>
        <input [(ngModel)]="usuario.senha" class="form-control"  type="password" name="confirmSenha" id="confirmSenha" placeholder="Confirme sua senha">
      </div>

      <div class="form-group">
        <label for="tipo">Tipo de usuário</label>
        <!--Usuaremos o evento (change já que o input é uma tag select que tem opções com valores (value=adm e value=normal))-->
        <select class="form-control" name="tipo" id="tipo" (change)="tipoUsuario($event)" >
          <option>Selecione um tipo de usuário</option>
          <option value="normal">Normal</option>
          <option value="adm">Administrador</option>
        </select>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-warning mr-4" routerLink="/inicio"> Cancelar</button>
        <!--Método cadastrar será chamado no html no botão cadastrar através do evento de (click) e realizo o cadastro do usuário-->
        <button type="submit" class="btn btn-success mr-4" (click)="atualizar()">Atualizar</button>
        <button type="submit" class="btn btn-danger" [routerLink]="['/usuario-delete', usuario.id]">Deletar</button>
      </div>

      </div>
    </div>

</div>
